.*
!.gitignore
!.github
!.gitpod.Dockerfile
!.welcome
!.devcontainer
!.devcontainer/*
!Dockerfile.render
!.gitpod.yml
!render.yml
!.render-buildpacks.json
!.env.example

*.log
*.sql
*.sqlite
*.db

ehthumbs.db
Thumbs.db

*.sublime-project
*.sublime-workspace
*.komodoproject

__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
ENV/
.env
instance/
migrations/versions/*

node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

dist/
public/
build/

.vscode/
.idea/
*.swp
*.swo
.DS_Store

database.database
database.db
diagram.png

.now
.vercel